<ion-view view-title ="SAFETY TIPS">
  <ion-content padding="true" class="search" >


<div class="list">
  <div class="item">1. Before a long drive, always get enough sleep and eat a snack or meal.</div>
    <div class="item">2. Before setting off, be sure your vehicle is in prime condition</div>
    <div class="item">3. Do not drive when drunk</div>
   <div class="item">4. Pull over and take breaks every couple of hours</div>
  <div class="item">5. If you can, share the driving responsibilities with someone else. </div>
   <div class="item">6. Pay attention to traffic signs. </div>
    <div class="item">7. Avoid using phone while driving </div>
	 <div class="item">8. Having an emergency kit before heading on a road trip is essential  </div>
</div>
 



  </ion-content>
</ion-view>
