<ion-view hide-nav-bar="true"  view-title="Search">
 <ion-content padding="true" scroll="false" class="signup" >
  <div class="bar bar-header bar-positive">
   <h1 class="title">Sign Up</h1>
</div>
<br>
<br>
   <div class="list">
                        <label class="item item-input">
                            <input type="email" placeholder="Name">
                        </label>
                        <label class="item item-input">
                            <input type="password" placeholder="Email">
                        </label>
						 <label class="item item-input">
                            <input type="password" placeholder="Password">
                        </label>
                    </div>
<a href="#/app/map"><button class="button button-block button-positive" type="submit">Log in</button></a>
</ion-content>
</ion-view>
